.btn__pets {
  &--circle {
    width: 32px;
    height: 32px;
    border: 1px solid;
    border-radius: 16px;
    border-color: currentColor;
  }

  &--metal {
    color: $color-metal;

    &active {
      color: $color-white;
      background-color: $color-metal;
    }
  }

  &--wood {
    color: $color-wood;

    &active {
      color: $color-white;
      background-color: $color-wood;
    }
  }

  &--water {
    color: $color-water;

    &active {
      color: $color-white;
      background-color: $color-water;
    }
  }

  &--fire {
    color: $color-fire;

    &active {
      color: $color-white;
      background-color: $color-fire;
    }
  }

  &--earth {
    color: $color-earth;

    &active {
      color: $color-white;
      background-color: $color-earth;
    }
  }

  &--god {
    color: $color-god;

    &active {
      color: $color-white;
      background-color: $color-god;
    }
  }

  &--reset {
    width: 48px;
    height: 32px;
    font-size: 16px;
    color: $color-white;
    background-color: $color-light-grey-1;
    letter-spacing: 2px;
  }
}

.btn--back {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: rgba($color-brown, .3);
  position: absolute;

  &::before {
    content: "";
    width: 16px;
    border: 1px solid $color-white;
  }
}


