.portrait {
  padding-top: 6px;
  overflow: hidden;

  &:hover {
    color: $color-brown;
    opacity: .9;
  }
}

.portrait-img {
  width: 67px;
  height: 84px;
  overflow: hidden;
}

.portrait-text{
  width: 100%;
  text-align: center;
  padding: 6px 0;

  @include respond(phone) {
    font-size: 12px;
  }
}
