.color-metal {
  color: $color-metal;
}

.color-wood {
  color: $color-wood;
}

.color-water {
  color: $color-water;
}

.color-fire {
  color: $color-fire;
}

.color-earth {
  color: $color-earth;
}

.color-god {
  color: $color-god;
}
