$color-metal: #FADD05;
$color-wood: #12CB3D;
$color-water: #2698EE;
$color-fire: #F11414;
$color-earth: #AA7D1D;
$color-god: #6C48D2;

$color-light-grey-1: #5B5D5E;
$color-dim-grey-1: #B1AFAF;
$color-dim-grey-2: #D9D9D9;

$color-white: #fff;
$color-black: #000;
$color-black-2: #181818;
$color-brown: #693600;
